#canvas {
    border: 5px solid gray; 
    top: 0;
    left: 0;
}
html, body {
  margin: 0px;
  overflow: hidden;
  background-image: url(./img/Aquarium1.png);
  background-size: 100%;
}

.button {
  height: 150px;
  width: 105px;
  background-color: aqua;
  background-image: url(./img/fish-slot.png);
  background-size: cover;
  border-radius: 15px;
  float: left;

  
}

.name {
  background-color: aquamarine;
  padding: 10px;
  width: 100%;
  border: 5px solid black;

}

