#canvas {
    border: 5px solid grey;
    max-width: fit-content;
    cursor: grab;
    overflow: auto;
}
html, body {
    height: 100%;
    align-content: center;
    margin: 0px;
}
div {
    margin: 0px;
    
}
::-webkit-scrollbar {
    display: none;
    
}

